#high-scores{
    font-size: 20px;
    margin-right: 0;
}

#time-section{
    font-size: 20px;
}
header{
    padding: 30px;
    background-color: lightblue;
    font-weight: bolder; 
}
#welcome {
    padding: auto;
    font-size: 20px;
    font-weight: bold;
}

.btn{
    margin-bottom:20px;
    margin-left: 20px;
    margin-top: 20px;
}

footer{
    margin: auto;
    font-weight: bold;
    font-size: 20px;
    
}